$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-grey-dark: #777;
$color-grey-light: #eee;
$color-white: white;
$color-black: #000;
$color-grey-light-1: #f7f7f7;
$color-grey-dark-2: #999;
$color-grey-dark-3: #222;
$color-card-yellow-light: #ffb900;
$color-card-yellow-dark: #ff7730;
$color-card-blue-light: #2998ff;
$color-card-blue-dark: #5643fa;
$color-card-green-light: #7ed56f;
$color-card-green-dark: #28b485;

// GRID VARIABLES
$grid-width: 114rem;
$grid-gap-vertical: 8rem;
$grid-gap-vertical-small: 6rem;
$grid-gap-horizontal: 6rem;

// FONTS
$default-font-size: 1.6rem;
